.item-shop {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 320px;
    height: 300px;
    flex-direction: column;
    background-color: #fff;

}

.item-shop-img {
    width: 100%;
}

.item-shop-img>img {
    width: 100%;


}

.item-shop-info-text {
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
    padding: 0px 30px;
}
.item-shop-btn{
    display: flex;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.item-shop-btn:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;

}
.content-btn{
    display: flex;
    justify-content: center;

}
.item-shop-info{
    display: flex;
        flex-direction: column;
        gap: 30px;
    }
