.icon{
  font-size: 35px;
    color: #fff;
}
.slider-container{
  display: flex;
  align-items: center; 
   position: relative;
}


 /* Estilos para as setas de navegação */
/* 
.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}


/* Contêiner do carrossel */

/* Estilo das setas */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%; /* Posiciona no meio verticalmente */
  z-index: 10;
  color: white;
  font-size: 32px;
  transform: translateY(-50%); /* Centraliza verticalmente */
  cursor: pointer;
}


.arrow-left{
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
.arrow-right{
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
.container-items-shop{
  display: flex;
  gap: 50px;
}