* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0E0056;
}






.container-shop {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;

}


.item-shop-info-text h2 {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: #fff;
  padding: 0px 30px;
}





.carousel-track {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;



}

.container-shop-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.footer {
  background-color: #0F0834;
  color: #fff;
  margin-top: 100px;
}

.footer-info-container {

  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
}

.footer-info {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer-info>h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;

}

.footer-info>ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-info>ul>li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.footer-info>ul>li>a {
  color: #fff;
  text-decoration: none;
}

.footer-info>ul>li>a:hover {

  color: #2e00fc;
  text-decoration: underline;
}

.footer-copyright {
  border-top: .1px solid #ddd;
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer-copyright>p {
  margin-top: 10px;
  padding: 20px 0px 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}