.container-shop {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
  
  }
  
  
  .item-shop-info-text h2 {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #fff;
    padding: 0px 30px;
  }
  
  
  
  
  
  .carousel-track {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
  
  
  
  }
  
  .container-shop-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  
  